# sbt files
lib_managed
bin
project/boot
project/build/target
target

**/lib_managed
**/bin
**/project/boot
**/project/build/target
**/target

# Eclipse
.project
.classpath
.metadata
.scala_dependencies

# random files
*~
.#*
TAGS
tags
*.swp

# random script files
MyTest.scala

