<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/tmp/notifier.log</file>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
    </layout>
  </appender>

  <root>
    <appender-ref ref="FILE"/>
  </root>

</configuration>

